@model IEnumerable<CarsApplication.Models.Journey>

@{
    ViewBag.Title = "Index";
    int totalConsumption = 0;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by date: @Html.TextBox("SearchString")
        <input type="submit" value="Search"/>
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.journey1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.distance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.consumption)
        </th>
        <th>
            <text>total consumption</text>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Point.point1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Point1.point1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.journey1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.distance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Car.name) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Car.consumption)
        </td>
        <td>
            @(item.Car.consumption * item.distance)
            @{ 
                totalConsumption += (int)(item.Car.consumption * item.distance);
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Point.point1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Point1.point1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.journey_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.journey_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.journey_id })
            @Html.ActionLink("Clone", "Clone", new { id = item.journey_id })
        </td>
    </tr>
    
}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><h4>total consumption for all trips</h4></td>
        <td>
            @{
                if (Model != null)
                {

                <h3>@(totalConsumption)</h3>
            }
                <td></td>
                <td></td>
                <td></td>


            }
        </td>
    </tr>
</table>
